.mat-toolbar {
    display: grid;
    grid-template-columns: 1fr minmax(120px, 1024px) 1fr;
    grid-template-rows: auto;
    .brand{
        display: grid;
        grid-column: 1;
    }
    .space-filler{
        display: grid;
        grid-column: 2;
    }
    .login{
        display: grid;
        grid-column: 3;
    }
}
.content{
    min-height: 70vh;
    margin: 10px;
}
footer {
    background-color: #0F0F0F;
    height: 15vh;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr minmax(240px, 1024px) 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .footer-text{
        grid-column: 2;
        grid-row: 2;
        margin: 0 auto;
    }
}