:host{
    display: grid;
    grid-template-columns: auto 1fr auto;
    .user-input{
        display: grid;
        grid-column: 2;
        margin: 0 auto;
        min-width: 80vw;
        form{
            width: 100%;
            .mat-form-field{
                width: 100%;
            }
            .mat-raised-button{
                margin: 10px 10px 10px 90%;
            }
            .mat-radio-button{
                margin-left: 5px; 
            }
        }
    }
}